
.section
  %h2
    Join

  .conversation
    .outgoing join
    .incoming Hello there! To join the car share, please reply with your name.
    .outgoing Nancy
    .incoming Nice to meet you, Nancy. Please wait while I check in.
    .incoming You were approved by an admin! Welcome to the me share.

  .conversation
    .outgoing status
    .incoming I am available.
    .outgoing borrow
    .incoming I am yours! I am parked behind 100 Ridgeway Road. The lockbox combination is 8421.

  =image_tag "safe.svg"
  =image_tag "key.svg"

  .conversation
    .incoming What is my odometer reading?
    .outgoing 19105
    .incoming Thanks, I updated the records with an odometer reading of 19105.

  =image_tag "wheel.svg"
  =image_tag "gas.svg"

  .conversation
    .outgoing gas 25.50
    .incoming I deducted your gas cost of $25.50. Your balance is now $12.75. Please submit the receipt when you return the key.

  .conversation
    .outgoing return
    .incoming Thanks for the ride! Please return me to 100 Ridgeway Road. The lockbox combination is 8421.
    .incoming What is the odometer reading?
    .outgoing 19189
    .incoming Wow, we drove 84km! That brings your balance to $33.75.

  =image_tag "calendar.svg"

  .conversation
    .outgoing book tomorrow from 2pm to 10
    .incoming You want to book me tomorrow from 2pm to 10pm? Say “confirm”, “cancel”, or another “book from X to Y”.
    .outgoing confirm
    .incoming Great, see you then!


%h2 Credits

%p To be moved elsewhere.

%ul
  %li Safe designed by <a href="http://www.thenounproject.com/krivoydesigner">Sergey Krivoy</a> from the <a href="http://www.thenounproject.com">Noun Project</a>
  %li Key designed by <a href="http://www.thenounproject.com/Luis">Luis Prado</a> from the <a href="http://www.thenounproject.com">Noun Project</a>
  %li Steering Wheel designed by <a href="http://www.thenounproject.com/francescofraioli">Francesco Fraioli</a> from the <a href="http://www.thenounproject.com">Noun Project</a>
  %li Gas designed by <a href="http://www.thenounproject.com/jontesta">Jon Testa</a> from the <a href="http://www.thenounproject.com">Noun Project</a>
