-@body_class = "wide"

%h2 User list

%table
  %thead
    %tr
      %td Name
      %td Email
      %td Approved?
  -@users.each do |user|
    %tr
      %td=user.name
      %td=user.email
      %td
        -unless user == current_user
          =simple_form_for user, html: {class: "form-inline"} do |f|
            .controls.controls-row
              =f.input_field :approved, label: false
              =f.button :submit, "Save", class: "btn-xs"
