%table
  %thead
    %tr
      %th Name
      %th Description
  -@responses.each do |klass, response_model|
    %tr
      %td=klass.name.demodulize
      %td=klass.description
      %td
        =form_for response_model do |f|
          =f.hidden_field :name
          =f.text_area :body, id: response_model.name
          =f.submit 'Save', id: "#{response_model.name}_submit"
