-@body_class = "wide"
%p You can customise what responses are returned here. The responses use the Liquid markup language, which you can learn more about #{link_to "here", "https://github.com/Shopify/liquid/wiki/Liquid-for-Designers"}.
%p You can refer to different variables and helpers in the responses, but this is poorly documented for now.
%table
  %thead
    %tr
      %th Name
      %th Description
      %th Default response
  -@responses.each do |klass, response_model|
    %tr{id: klass.name.demodulize}
      %td=klass.name.demodulize
      %td=klass.description
      %td=klass.default_body
      %td
        =form_for response_model do |f|
          =f.hidden_field :name
          =f.text_area :body, id: response_model.name, rows: 5, cols: 50
          =f.submit 'Save', id: "#{response_model.name}_submit"
