.sidebar
  position: fixed

  a.home
    color: inherit

  h1
    text-decoration: none
    text-transform: uppercase

    img
      transform: scaleX(-1)
      margin: 0

  ul.nav
    list-style-type: none

    a
      padding: 0

    li.separator
      margin-top: 1rem
