-@body_class = "wide"

%h2 Sharer list

%table
  %thead
    %tr
      %th Name
      %th Number
      %th Email
      %th
  -@sharers.each do |sharer|
    %tr
      %td=sharer.name
      %td=sharer.number
      %td=sharer.email
      %td
        =simple_form_for sharer, html: {class: "form-inline"} do |f|
          .controls.controls-row
            -unless sharer.user == current_user
              =f.input :admin, as: :boolean
            =f.input :receive_copies
            =f.button :submit, "Save", class: "btn-xs"
